.homecontact{
    position: absolute;
    top: 20px;
    left: 30px;
}

@keyframes glow {
    0% {
      text-shadow: 0 0 5px #fff, 0 0 10px #ff00ff, 0 0 15px #ff00ff, 0 0 20px #ff00ff, 0 0 25px #ff00ff;
    }
    50% {
      text-shadow: 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff;
    }
    100% {
      text-shadow: 0 0 5px #fff, 0 0 10px #ff00ff, 0 0 15px #ff00ff, 0 0 20px #ff00ff, 0 0 25px #ff00ff;
    }
  }
  
  .glow {
    color: #fff;
    animation: glow 1.5s infinite alternate;
  }
  
  .subtitle {
    color: #ccc; 
    animation: glow 1.5s infinite alternate;
    animation-delay: 0.5s; 
  }