.homelog
{
    position: absolute;
    top: 20px;
    left: 30px;

}

#loginform {
    
    position: absolute;
    top: 50%;
    right: 20%; 
    transform: translate(-50%, -50%);
    max-width: 800px;
    background: rgba(47, 21, 21, 0.7);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.781);
    box-sizing: border-box;

}
#loginform h2 {
    text-align: center;
    margin: 0 0 20px;
    padding: 10px 0;
    color: #f7f3f3;
    font-family: 'Arial', sans-serif;
}

.input {
    margin-bottom: 15px;
}

.input label {
    display:block;
    margin-bottom: 5px;
    color: #f4f3f3;
    font-weight: bold;
}

.input input {
    width: 90%;
    padding: 12px ;
    margin: 10px 0;
    border: 2px solid #ccc;
    border: 2px solid #ccc;
    display: inline-block;
    transition: border-color 0.3s ease;
   
}

.input input:focus {
    border-color: #007bff;
    outline: none;
}

.btn {
    background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
  font-size: medium;
  cursor: pointer;
  width: 87%;
}

.btn:hover {
    opacity: 0.8;
}

#errormessage {
    color: red;
    margin-top: 10px;
}
