* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lato', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background:linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), url('/src/assets/pc2.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}



